<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <link rel="icon" href="Images/ico.png">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body class="body">

    <header class="mainHeader">
        <img src="Images/img3.jpg" alt="Header Image" title="Welcome To My Site">
        <nav>
            <ul>
                <li>
                    <a href="#">Home</a>
                    <a href="#">Live</a>
                    <a href="#">About</a>
                    <a href="#">Inscription</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="mainContainer">
        <section class="top_content">
            <header>
                <h2><a href="#">Définition Of Music</a></h2>
            </header>
            <footer>
                <h3>Writin By Houssam</h3>
            </footer>
            <article>
                <p>
                    La musique est un art et une activité culturelle consistant à combiner sons et silences au cours du temps. Les ingrédients principaux sont le rythme (façon de combiner les sons dans le temps), la hauteur (combinaison dans les fréquences), les nuances et le timbre. 
                    Elle est aujourd'hui considérée comme une forme de poésie moderne.
                </p>
            </article>
        </section>
        <section class="top_content">
            <header>
                <h2><a href="#">Histoire Of Music</a></h2>
            </header>
            <footer>
                <h3>Writin By Houssam</h3>
            </footer>
            <article>
                <p>
                    Il est difficile de dater, même approximativement, son origine. Le rythme et la mélodie sont toujours présents dans la musique et il est difficile de savoir lequel des deux fut le point de départ de cet art ancestral (chants, battements de mains, choc de pierres ou de morceaux de bois). On en trouve encore quelques traces de nos jours, dans des peuplades d'Afrique ou d'Amérique mais l'étude de la musique préhistorique paraît être une gageure1. Les recherches archéologiques font remonter l'utilisation d'instruments de musique (trous percés dans des instruments faits d'os ou d'argile) parfois associés à des instruments de chasse (tels les appeaux ou les rhombes formant un lasso lesté) à au moins 35 000 ans2.
                </p>
            </article>
        </section>
        <section class="top_content">
            <header>
                <h2><a href="#">Top music 2018</a></h2>
            </header>
            <footer>
                <h3>Writin By Houssam</h3>
            </footer>
            <article>
                <p>
                    La musique est un art et une activité culturelle consistant à combiner sons et silences au cours du temps. Les ingrédients principaux sont le rythme (façon de combiner les sons dans le temps), la hauteur (combinaison dans les fréquences), les nuances et le timbre. 
                    Elle est aujourd'hui considérée comme une forme de poésie moderne.
                </p>
            </article>
        </section>
    </div>

    <aside class="asideBar">
        <h2><a href="#">Ads For Google Adsense</a></h2>
        <article>
            <p>En donnant une suite à la musique de la Grèce antique et à celle de la Rome antique, la musique classique occidentale trouve son origine dans le chant chrétien diffusé par les communautés des premiers siècles. L'unification des rites fera évoluer la musique vers le chant grégorien, monodique et apparaîtra alors le premier système d'écriture musicale en Occident.</p>
        </article>
    </aside>
    <aside class="asideBar">
        <h2><a href="#">Ads For Youtube Adsense</a></h2>
        <article>
            <p>En donnant une suite à la musique de la Grèce antique et à celle de la Rome antique, la musique classique occidentale trouve son origine dans le chant chrétien diffusé par les communautés des premiers siècles. L'unification des rites fera évoluer la musique vers le chant grégorien, monodique et apparaîtra alors le premier système d'écriture musicale en Occident.</p>
        </article>
    </aside>

    <aside class="asideBar">
        <h2><a href="#">My youtube Channel</a></h2>
        <article>
            <p>En donnant une suite à la musique de la Grèce antique et à celle de la Rome antique, la musique classique occidentale trouve son origine dans le chant chrétien diffusé par les communautés des premiers siècles. L'unification des rites fera évoluer la musique vers le chant grégorien, monodique et apparaîtra alors le premier système d'écriture musicale en Occident.</p>
        </article>
    </aside>


    <footer class="footer">
        <p>
            &copy;Houssam El Azhari. www.houssamedine.com
        </p>
    </footer>
</body>

</html>