<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Web Template</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!--Header-->
    <header>
        <div class="head">
            MUSCLE MANIAC
        </div>

        <!--Navigation-->
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Pages</a></li>
            </ul>
        </nav>
        <!--END Navigation-->

    </header>
    <!--END Header-->

    <!--ShowCase Image-->
    <showcase>
        <div class="showcase">
            <img src="Image/img3.jpg" alt="gym">

        </div>
    </showcase>
    <!--END ShowCase Image-->

    <!--Section-->
    <section>
        <div class="plan">
            <b>$29</b>
            <div class="box">
                <h3>1 Month</h3>
                <p>Lorem ipsum, dolor sit amet.</p>
                <p>Lorem ipsum, dolor sit amet.</p>
                <p>Lorem ipsum, dolor sit amet.</p>
                <p>Lorem ipsum, dolor sit amet.</p>
                <p>Lorem ipsum, dolor sit amet.</p>
                <a href="#"><button class="btn">APPLAY NOW</button></a>
            </div>
        </div>

        <div class="plan">
            <b>$99</b>
            <div class="box">
                <h3>2 Month</h3>
                <p>Lorem ipsum, dolor sit amet.</p>
                <p>Lorem ipsum, dolor sit amet.</p>
                <p>Lorem ipsum, dolor sit amet.</p>
                <p>Lorem ipsum, dolor sit amet.</p>
                <p>Lorem ipsum, dolor sit amet.</p>
                <a href="#"><button class="btn">APPLAY NOW</button></a>
            </div>
        </div>

        <div class="plan">
            <b>$199</b>
            <div class="box">
                <h3>6 Month</h3>
                <p>Lorem ipsum, dolor sit amet.</p>
                <p>Lorem ipsum, dolor sit amet.</p>
                <p>Lorem ipsum, dolor sit amet.</p>
                <p>Lorem ipsum, dolor sit amet.</p>
                <p>Lorem ipsum, dolor sit amet.</p>
                <a href="#"><button class="btn">APPLAY NOW</button></a>
            </div>
        </div>

        <div class="plan">
            <b>$299</b>
            <div class="box">
                <h3>12 Month</h3>
                <p>Lorem ipsum, dolor sit amet.</p>
                <p>Lorem ipsum, dolor sit amet.</p>
                <p>Lorem ipsum, dolor sit amet.</p>
                <p>Lorem ipsum, dolor sit amet.</p>
                <p>Lorem ipsum, dolor sit amet.</p>
                <a href="#"><button class="btn">APPLAY NOW</button></a>
            </div>
        </div>
    </section>
    <!--END Section-->

    <!--Footer-->
    <footer>
        <p>&copy; 2019, Muscule Maniac</p>
    </footer>

    <!--END Footer-->


</body>

</html>