<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Lading Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!--header-->
    <header>
        <div class="head">
            <h1><span style="color: orange">SPYTECH</span> AGENCY</h1>
        </div>
        <!--Navigation-->
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">PAGES</a></li>
                <li><a href="#">PORTFOLIO</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">FEATURES</a></li>
                <li><a href="#">SHOP</a></li>
                <li><a href="#" class="test4">GET A QOUTE</a></li>
            </ul>
            <!--END Navigation-->
        </nav>
    </header>
    <!--END header-->

    <!--showcase-->
    <showcase>
        <div class="container">
            <h1><span style="color: orange">SPYTECH</span> AGENCY</h1>
            <h3>is a result-driven SED Services</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quam? Eligendi
                molestias neque minus cum incidunt beatae deserunt nostrum! Corrupti suscipit facere eveniet fuga
                perferendis sit, ea et saepe ab.</p>
            <a href="#"><button>LEARN MORE</button></a>
        </div>
    </showcase>
    <!--END showcase-->

    <!--Aside-->
    <aside>
        <p>Service start only from <span class="price">$149</span></p>
        <a href="#"><button class="btn">FREE SED ANALYSIS</button></a>
    </aside>
    <!--END Aside-->
</body>
</html>