body{
    background: url(Image/im2.jpg) no-repeat center center fixed;
}

.container{
   width: 25%;
   margin-top: 15%;
   margin-left: 35%;
   padding: 1rem;
   border-radius: 10px;
   text-align: center;
   color: #fff;
   overflow: hidden;
   background-image:linear-gradient(to right,#C7F199,#006400);
}

h1{
    color: darkslategray;
}
hr{
    width: 50%;
    border: 1px solid white;
}

.format input{
    background-color: #404040;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    width: 50%;
    padding: 5px;
    margin: left;
}

.format select{
    background-color: #404040;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    width: 50%;
    padding: 5px;
    margin: left;
}

label{
    display: inline-flex;
    width: 10%;
    text-align: right;
    font-size: 20px;
    padding: 21px 14px;
}


input{
    position: relative;
    margin: 10px 30px;
    left: 0;
}


.lb1{
    position: relative;
    right: 65px;
}

.lb2{
    position: relative;
    right: 35px;
}

.lb4{
    position: relative;
    right: 81px;
}

.lb5{
    position: relative;
    top:30px;
    right: 152px;
}

.bt1{
    background-color: #80ffcc;
    color: red;
    font-size: 20px;
    text-align: center;
    width: 25%;
    border-radius: 10px;
    border: 1px;
}

.bt1:hover{
    background-color: darkseagreen;
    color: yellow;
    font-size: 20px;
    text-align: center;
    width: 25%;
    border-radius: 10px;
    border-color: tomato;
    border: 1px;
}

.bt2{
    background-color: #80ffcc;
    color: red;
    font-size: 20px;
    text-align: center;
    width: 25%;
    border-radius: 10px;
    border: 1px;
}

.bt:hover{
    background-color: darkseagreen;
    color: yellow;
    font-size: 20px;
    text-align: center;
    width: 25%;
    border-radius: 10px;
    border-color: tomato;
    border: 1px;
}