<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test1</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="Images/img.jpg">
</head>
<body>

    <div class="continer">
        <div class="d1">
            <img src="Images/img.jpg" alt="User">
            <h2>Connexion</h2>
        </div>
        <div class="d2">
            <label for="">User</label> 
            <input type="text" placeholder="User" class="block">
      
            <label for="">Password</label>
            <input type="password" placeholder="PassWord" class="block">

            <button>Enregistrer</button>
        </div>

        <div class="d3">
            <p>&copy;@ Houssam Edine 2020</p>
        </div>
    </div>

    
</body>
</html>