<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Web Template</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!--header-->
    <header>
        <div class="head">
            <h2>Bellyful</h2>
        </div>
        <!--Navigation-->
        <nav>
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">News & Events</a></li>
                <li><a href="#">Mail Us</a></li>
            </ul>
        </nav>
        <!--END Navigation-->

    </header>
    <!-- END header-->

    <!--ShowCase-->
    <showcase>
        <div class="container">
            <h1>Food tastes better when you eat it with your family</h1>
            <h3>Veg, Non_Veg and all kind of Snacks are available</h3>
            <div class="category">
                <div class="tahi">
                    <img src="Image/img1.jpg" alt="">
                    <h4>Thai Tanic</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, dolorum? Quod beatae officia
                        nesciunt esse, sequi praesentium sed tempore quos dolorem. </p>
                </div>

                <div class="snacks">
                    <img src="Image/img3.jpg" alt="">
                    <h4>Evening Snacks</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, dolorum? Quod beatae officia
                        nesciunt esse, sequi praesentium sed tempore quos dolorem.</p>
                </div>

                <div class="gril">
                    <img src="Image/img2.jpg" alt="">
                    <h4>Gochew Grill</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, dolorum? Quod beatae officia
                        nesciunt esse, sequi praesentium sed tempore quos dolorem.</p>
                </div>
            </div>
        </div>
    </showcase>
    <!--END ShowCase-->
    <a href="#"><button class="btn">Read More</button></a>
</body>

</html>