<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="wigth:device-width,initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="contanier">
        <h1>Create An Account</h1>
        <!-- <input class ="bt1" type="button" onclick="location.href='https://www.facebook.com';" value="Sign Up With Facebook" /> -->
        <button class="bt1" onclick="window.location.href='https://www.facebook.com';">
            Sign Up With Facebook
          </button>
        <br>
        <hr>
        <h4>Register Now</h4>
        <form action="">
            <input type="text" placeholder="Name"> <br><br>
            <input type="email" placeholder="Email"><br><br>
            <input type="password" placeholder="Password"><br><br>
            <input type="checkbox">I agree With <a href="https://www.facebook.com/">Terms and Services</a> & <a href="">Privacy
                Policy</a><br><br>
            <button  class="bt2"><span>Sign Up Now</span></button>
        </form>
    </div>
</body>

</html>